body{
    padding: 1px;
}

.card {
    text-align: center;
    height: 225px;
    width: 150px;


    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
    flex:1;
}


.card img{
    max-height: 225px;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
}


.card :hover{
    transition: all 1s;
    transform: scale(1.2);

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    gap: 10px;
    flex-shrink: 150px;
    
}
.card:nth-child(3){
    flex:3;

}
.container2{

}

.colum{
    
    width: 30;
    height: 40;
}

.colum img{
    min-width: 180px;
    max-height: 100px;
    width: 30;
    height: 40;

}

.stock{
    width: 30;
    height: 40;
}

.div.newss{
    min-width: 180px;
    max-height: 100px;
}

pre{
    min-width: 180px;
    max-height: 100px;
}


.colum:nth-child(1){
   

}

.colum:nth-child(2){
 

}