h1:hover{
  /*  color:brown;              */
    transition: all 3s ease;
     transform: rotateY(360deg); 
    transform: scale(1.3); 
/*  transform: translate(100ps,100ps); */

}

h2:hover{
    transition: all 3s ease;
     transform: rotatex(360deg); 
}

.hideen{
    transform: translate(-10%,0);
    font-size: large;
}

.hieen:hover{
        transform: all 1s ease;
        transform: translate(0,0);
}